.odev {
    display: flex;
    background-color: rgb(171, 30, 30);
    height: 80px;
    align-items: center;
}
.siteler {
    display: flex; 
    flex-direction: column;
    background-color: red;
    width: 300px;
    align-items: center;
    justify-items: center;
}
    